.footer__copyright{
    width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    margin-top: 48px;
    margin-bottom: 24px;
    margin-left: 16px;
    color: #FFFFFF;
    grid-area: url;
}

@media screen and (min-width:768px){
    .footer__copyright{
        line-height: 16px;
        text-align: right;
        margin: 0;
    }   
}