.cover{
    display: grid;
    background-image: url(../../images/__background.jpg);
    width:100%;
    min-height: 62.5vw;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width:1024px){
    .cover{
        min-height: 640px;
        max-width: 1184px;
    }
}

@media screen and (min-width:1141px){
    .cover{
        min-height: 740px;
    }
}

@media screen and (min-width:1280px){
    .cover{
        min-height: 740px;
    }
}