.cover__background{
    width: 100%;
    height: 62.5vw;
    text-decoration-line: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:1024px){
    .cover__background{
        max-height: 740px;
        max-width: 1184px;
    }
}