.place {
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    grid-template-columns: 320px;
    grid-template-rows: max-content max-content max-content max-content;
    gap: 32px;
    grid-template-areas:
    "title"
    "url"
    "image"
    "paragraphs";
  }

@media screen and (min-width:768px){
    .place {
        grid-template-columns: 340px 352px;
        grid-template-rows: max-content max-content;
        grid-gap: 28px;
        margin-top: 0;
        margin-bottom: 72px;
        grid-template-areas:
        "title url"
        "image paragraphs";
    }
}

@media screen and (min-width:1024px){
    .place{
        grid-template-columns: 440px 456px;
        grid-template-rows: max-content 440px;
        column-gap: 32px;
        margin-bottom: 80px;
    }    
}

@media screen and (min-width:1280px){
    .place{
        grid-template-columns: 460px 484px;
        grid-template-rows: max-content 460px;
        grid-gap: 40px;
    }
}